<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsource.mapper.InvitationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hsource.item.mapper.InvitationMapper">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="type" property="type" />
        <result column="del_falg" property="delFalg" />
        <result column="attachment_url" property="attachmentUrl" />
        <result column="operate_date" property="operateDate" />
        <result column="operate_user" property="operateUser" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS id, title AS title, type AS type, del_falg AS delFalg, attachment_url AS attachmentUrl, operate_date AS operateDate, operate_user AS operateUser, remark AS remark
    </sql>

</mapper>
