<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsource.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hsource.entry.User">
        <id column="id" property="id" />
        <result column="mail" property="mail" />
        <result column="passwold" property="passwold" />
        <result column="del_falg" property="delFalg" />
        <result column="user_type" property="userType" />
        <result column="nick_name" property="nickName" />
        <result column="phone" property="phone" />
        <result column="create_date" property="createDate" />
        <result column="operate_date" property="operateDate" />
        <result column="operate_user" property="operateUser" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS id, mail AS mail, passwold AS passwold, del_falg AS delFalg, user_type AS userType, nick_name AS nickName, phone AS phone, create_date AS createDate, operate_date AS operateDate, operate_user AS operateUser, remark AS remark
    </sql>

</mapper>
